body {
  margin: 0;
}

header {
  background-color: rgb(14, 1, 46);
  color: azure;
  text-align: center;
  padding: 20px 0;
}

header p {
  font-size: xx-large;
  margin: 0;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 70vh;
}

#images {
  display: flex;
  justify-content: center;
  margin: 20px 20px;
}

.images {
  border-radius: 50%;
  margin: 0 10px;
  cursor: pointer;
  max-width: 150px;
  height: auto;
  object-fit: cover;
}

#counts {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.c {
  margin: 0 20px;
}

#result {
  background-color: rgb(20, 20, 20);
  border-radius: 30px;
  height: 35px;
  color: white;
  font-size: larger;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  min-width: 100px;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: rgb(56, 56, 84);
  color: azure;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
}

/* Hover effect */
.images:hover {
  border: 8px solid #030303;
}

/* Media Queries */

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
  .images {
    max-width: 100px;
  }

  #counts {
    flex-direction: column;
  }

  .c {
    margin: 10px 0;
  }

  #result {
    font-size: medium;
  }
}

/* Small devices (phones, 480px and up) */
@media (max-width: 480px) {
  header p {
    font-size: large;
  }

  #images {
    flex-direction: column;
  }

  .images {
    max-width: 80px;
    margin: 10px 0;
  }

  #counts {
    flex-direction: column;
  }

  #result {
    font-size: small;
  }
}
